<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="includes/v-machine.css" media="all">
    
    </head>
    <body>
        <div id="header">
            <div class="blue"></div>
            <div class="grey"></div>
            <div id="masthead">
                <a href="index.html"><img alt="Versioning Machine" src="includes/images/VMHeaderNStrp.png" class="left"></a>
            </div>
            {% include navbar.html %}
        </div>
        <div class="clear"></div>
      
        {{ content }}
        
        <div id="footer">
            {% include footer.html %}
        </div>
    </body>
</html>

